:root {
  --white: hsl(0, 0%, 100%);
}

p {
  margin: 0%;
}

.container {
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.cardHolder {
  position: relative;
  width: inherit;
  height: 18.2rem;
  background: url("/images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: 100vw auto;
  box-sizing: border-box;
  color: var(--white);
}

/*---------CardDetails----------*/
.creditBack,
.creditFront {
  position: absolute;
  height: 10.5rem;
  width: 19rem;
  right: 0;
}
.creditBack {
  top: 11.3%;
  transform: translateX(-10%);
}
.creditFront {
  top: 44%;
  transform: translateX(-22.4%);
}
.cardLogo {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(-543%);
  height: 2rem;
  width: 3.5rem;
  aspect-ratio: 1/1;
  z-index: 10;
}
.cvNumber {
  /*CV*/
  position: absolute;
  right: 0;
  top: 37%;
  transform: translateX(-212%);
  font-size: 12px;
  width: 1.9rem;
}
.cardNumber {
  position: absolute;
  right: 0;
  top: 73%;
  transform: translateX(-32%);
  width: 17rem;
  font-weight: 500;
  font-size: 20px;
}
.userDetailGroup {
  position: absolute;
  top: 89%;
  right: 0;
  transform: translateX(-27%);
  width: 17.6rem;
  gap: 4.6rem;
  font-size: 12px;
  font-weight: 300;
  box-sizing: border-box;
}
.userDetailGroup p:nth-child(1) {
  width: 10rem;
}
.userDetailGroup p:nth-child(2) {
  width: 2.937rem;
}

@media (950px<width) {
  .container {
    height: 100vh;
    width: 25%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .cardHolder {
    height: inherit;
    width: 100%;
    background-image: url("/images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .creditFront {
    top: 20%;
    transform: translateX(50%);
  }
  .creditBack {
    top: 47%;
    transform: translateX(76%);
  }
  .creditBack,
  .creditFront {
    height: 12.5rem;
    width: 23rem;
  }

  .cardLogo {
    position: absolute;
    right: 0;
    top: 22%;
    height: 2.5rem;
    width: 4.5rem;
    transform: translateX(-116%);
    z-index: 10;
  }
  .cardNumber {
    position: absolute;
    right: 0;
    top: 35%;
    transform: translateX(50%);
    width: 19rem;
    font-size: 22px;
    z-index: 10;
  }
  .userDetailGroup {
    position: absolute;
    top: 40%;
    right: 0;
    transform: translateX(53%);
    width: 20rem;
    gap: 7.6rem;
    z-index: 10;
  }
  .cvNumber {
    z-index: 10;
    position: absolute;
    top: 57.8%;
    right: 0;
    transform: translateX(770%);
  }
}
