:root {
  --light-gray-violet: hsl(270, 3%, 87%);
  --white: hsl(0, 0%, 100%);
  --dark-gray-violet: hsl(279, 6%, 55%);
  --dark-violet: hsl(278, 68%, 11%);
  overflow-x: hidden !important;
  font-family: "Space Grotesk", sans-serif !important;
}
body {
  overflow-x: hidden !important;
  margin: 0%;
}
input::placeholder {
  color: var(--dark-gray-violet);
  font-family: "Space Grotesk", sans-serif !important;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}
input,
button {
  font-family: "Space Grotesk", sans-serif !important;
}
@media (760px<width) {
  .mainContainer {
    flex-direction: row !important;
  }
}
